/*@keyframes change-color {
  from {
    background-color: salmon;
  }
  to {
    background-color: lightblue;
  }
}*/
@keyframes change-color {
  0% {
    background-color: red;
  }
  15% {
    background-color: orange;
    top: 10px;
    left: 10px;
  }
  30% {
    background-color: green;
    top: 20px;
    left: 20px;
  }
  45% {
    background-color: purple;
    top: 30px;
    left: 30px;
  }
  70% {
    background-color: yellow;
    top: 40px;
    left: 40px;
  }
  100% {
    background-color: blue;
    top: 50px;
    left: 50px;
  }
}

.box-animation:hover {
  position: relative;
  animation-name: change-color;
  animation-duration: 2s;
  animation-iteration-count: 3;
}
